.app-comp
{
    width:100%;
    height:100%;
}

.box-2048 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.unit {
  border: 1px solid black;
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  p {
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
  }
}
.score-container
{
    background-color:white;
    border-radius: 10px;;
    padding:15px;
    h3
    {
        color:black;
    }
    .button-cont
    {
        div
        {
            width:min-content;
        }
    }
}